<template>
  <div></div>
</template>

<script>
import _ from "lodash";
import api from "../utils/apiClient";
import { isEmpty } from "lodash";

export default {
  name: "Widget",
  mounted() {
    const pages = this.getCurrentPage();
    pages.forEach((page) => page.handlePage(api, isEmpty));
  },
  methods: {
    getCurrentPage() {
      const settings = window.RcInterface;
      const currentPage = Object.values(settings.pages).filter((page) => page.isCurrentPage());
      return !_.isEmpty(currentPage) ? currentPage : [];
    },
  },
};
</script>
<style>
.product-item-dropdown {
  width: 78%;
}
/* The Modal (background) */
.recharge-modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.recharge-modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The modal-close Button */
.recharge-modal-close {
  align-self: flex-end;
  color: #aaa;
  font-size: 15px;
  font-weight: bold;
}

.recharge-modal-close:hover,
.recharge-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.recharge-modal-header {
  align-self: flex-end;
}
.recharge-modal-footer {
  align-self: flex-end;
}

.subscription-radio-buttons {
  margin-top: 15px;
}
</style>
