<template>
  <div id="app">
    <Widget />
  </div>
</template>

<script>
import Widget from "./components/Widget";
import { setupApiClient } from "./utils/apiClient";

export default {
  name: "App",
  components: {
    Widget,
  },
  beforeMount() {
    const merchantId = document.currentScript.getAttribute("merchantId");
    const environment = document.currentScript.getAttribute("environment") || "prod";
    const store = document.currentScript.getAttribute("store");
    setupApiClient(store, "v1", merchantId, environment);
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.recharge_portal_information {
  padding-top: 15px;
}
</style>
